<?xml version="1.0" ?><config><esti_method type="string">bf</esti_method><decimal_precision type="int">12</decimal_precision><max_results type="int">10</max_results><fitness type="double">0.6</fitness><linear_model type="boolean">true</linear_model><square_model type="boolean">true</square_model><cube_model type="boolean">true</cube_model><log_model type="boolean">true</log_model><exp_model type="boolean">true</exp_model><product_model type="boolean">true</product_model><group_flexible type="boolean">true</group_flexible><group_max_results type="int">0</group_max_results></config>